@{
    Layout = "_ConfigurePlugin";
}


<h1>NopCommerce RestApi</h1>


<p>The Web API plugin allows you to develop any integration with third-party services much faster and cheaper.</p>

<p>Such features of Web API plugin as:</p>
<ul>
    <li>Open source code.</li>
    <li>The plugin covers most customer methods of nopCommerce, please refer to documentation for a full list of supported methods.</li>
    <li>JSON Web Tokens (JWT) authentication.</li>
</ul>
<p>allow to reduce the time to develop integrations by up to 80%, which means fewer expenditures and more opportunities for enhancing your store capacities.</p>

<p>The open-source code and the coverage of more nopCommerce methods provide you with unlimited capabilities for developing the integrations with any ERP, PIM, CRM, CMS, WMS systems. </p>

<p>Also, it enables you to develop a mobile application or organize an outstanding headless commerce.</p>
<p>You will get the source code to further extend the API methods and customize to fit your needs.</p>
<p>Authentication uses regular user login and supports all registered and active users </p>

<p>Designed and developed by <a href="mailto:rmanegene98@hotmail.com">Robert Manegene </a></p>

